# macOS
.DS_Store
.AppleDouble
.LSOverride

# TLS certificates (nunca versionar chaves privadas)
.cert/

# VS Code
.vscode/

# Logs
*.log

# Node / Bun
node_modules/
bun.lockb
bun.lock

# Build output
dist/

# TypeScript build info
*.tsbuildinfo
